[submodule "app/src/main/cpp/third-party/bloom_cpp"]
	path = app/src/main/cpp/third-party/bloom_cpp
	url = https://github.com/duckduckgo/bloom_cpp.git
[submodule "submodules/privacy-grade"]
	path = submodules/privacy-grade
	url = https://github.com/duckduckgo/privacy-grade
[submodule "submodules/autofill"]
	path = submodules/autofill
	url = https://github.com/duckduckgo/duckduckgo-autofill
