<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:largeHeap="true"
        android:theme="@style/Theme.DuckDuckGo.Light">

        <!-- This is the Worker Service where VPN workers need to bind into -->
        <service
                android:name=".worker.VpnRemoteWorkerService"
                android:exported="false"
                android:process=":vpn" />

        <activity
                android:name=".service.VpnPermissionRequesterActivity"
                android:exported="false"
                android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.ui.onboarding.VpnOnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.ui.privacyreport.DeviceShieldAppTrackersInfo"
            android:exported="false"
            android:label="@string/atp_ProfilingActivityTitle"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldTrackerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldTrackerActivity"
            android:exported="false"
            android:label="@string/atp_ActivityTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldMostRecentActivity"
            android:exported="false"
            android:label="@string/atp_MostRecentActivityTitle"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldTrackerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.apps.ui.ManageRecentAppsProtectionActivity"
            android:exported="false"
            android:label="@string/atp_ManageRecentAppsProtectionActivityTitle"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldTrackerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.apps.ui.TrackingProtectionExclusionListActivity"
            android:exported="false"
            android:label="@string/atp_TrackingProtectionExclusionListActivityTitle"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.apps.ui.ManageRecentAppsProtectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.breakage.ReportBreakageAppListActivity"
            android:exported="false"
            android:label="@string/atp_ReportBreakageAppListActivityTitle"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldTrackerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.breakage.ReportBreakageCategorySingleChoiceActivity"
            android:exported="false"
            android:label="@string/atp_ReportBreakageAppListActivityTitle"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.breakage.ReportBreakageAppListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.AppTPCompanyTrackersActivity"
            android:exported="false"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.ui.tracker_activity.DeviceShieldTrackerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.state.VpnStateMonitorService"
            android:exported="false"/>

        <service
            android:name=".service.TrackerBlockingVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":vpn">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="VPN"
                />
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

        <service
            android:name=".service.DeviceShieldTileService"
            android:exported="true"
            android:icon="@drawable/ic_device_shield_tile"
            android:label="@string/atp_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- This is the Worker Service where VPN workers need to bind into -->
        <service
            android:name="androidx.work.multiprocess.RemoteWorkerService"
            android:exported="false"
            android:process=":vpn" />

        <receiver
            android:name=".service.VpnReminderReceiver"
            android:enabled="false"
            android:exported="false"
            android:process=":vpn">
            <intent-filter>
                <action android:name="com.duckduckgo.vpn.internaltesters.reminder" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".heartbeat.VpnHeartbeatDeviceBootMonitor"
            android:enabled="false"
            android:exported="false"
            android:process=":vpn">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.duckduckgo.mobile.android.vpn.appupdates.AppUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.duckduckgo.mobile.android.vpn.service.VpnActionReceiver"
            android:exported="false"
            android:process=":vpn">
            <intent-filter>
                <action android:name="com.duckduckgo.vpn.ACTION_VPN_SNOOZE_END" />
                <action android:name="com.duckduckgo.vpn.ACTION_VPN_DISABLE" />
                <action android:name="com.duckduckgo.vpn.ACTION_VPN_SNOOZE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.notification.PersistentNotificationDismissedReceiver"
            android:exported="false"
            android:process=":vpn">
            <intent-filter>
                <action android:name="com.duckduckgo.vpn.ACTION_VPN_PERSISTENT_NOTIF_DISMISSED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>