<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duckduckgo.autofill.impl">

    <application>
        <activity
            android:name=".ui.credential.management.importpassword.ImportPasswordsActivity"
            android:label="@string/autofillManagementImportPasswords"
            android:exported="false" />
        <activity
            android:name=".ui.credential.management.importpassword.desktopapp.ImportPasswordsGetDesktopAppActivity"
            android:label="@string/autofillManagementImportPasswordsGetDesktopAppTitle"
            android:exported="false" />
        <activity
            android:name=".email.incontext.EmailProtectionInContextSignupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard"
            android:exported="false" />
        <activity
            android:name=".importing.gpm.webflow.ImportGooglePasswordsWebFlowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard"
            android:exported="false" />
        <activity
            android:name=".ui.credential.management.AutofillManagementActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.DDGAutofillService"
            android:exported="true"
            android:label="My Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>
    </application>

</manifest>