<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duckduckgo.autofill.impl">

    <uses-permission android:name="android.permission.CREDENTIAL_MANAGER_SET_ORIGIN" />

    <application>
        <activity
            android:name=".ui.credential.management.importpassword.ImportPasswordsActivity"
            android:label="@string/autofillManagementHowToSyncDesktopPasswords"
            android:exported="false" />
        <activity
            android:name=".ui.credential.management.importpassword.desktopapp.ImportPasswordsGetDesktopAppActivity"
            android:label="@string/autofillManagementImportPasswordsGetDesktopAppTitle"
            android:exported="false" />
        <activity
            android:name=".email.incontext.EmailProtectionInContextSignupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard"
            android:exported="false" />
        <activity
            android:name=".importing.gpm.webflow.ImportGooglePasswordsWebFlowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard"
            android:exported="false" />
        <activity
            android:name=".ui.credential.management.AutofillManagementActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.settings.AutofillSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Autofill Service runs on its own process https://app.asana.com/0/72649045549333/1209537052601451 -->
        <activity
            android:name=".service.AutofillProviderFillSuggestionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:process=":autofill"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".service.AutofillProviderChooseActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:process=":autofill"
            android:windowSoftInputMode="adjustResize" />
        <service
            android:name="com.duckduckgo.autofill.impl.service.RealAutofillService"
            android:exported="true"
            android:label="@string/serviceName"
            android:enabled="false"
            android:process=":autofill"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>
        <!-- Autofill Service -->
    </application>

</manifest>