<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.duckduckgo.subscriptions.internal.SubscriptionsInternalSettingsActivity"
            android:label="Subscriptions Dev Settings"
            android:exported="false" />
    </application>

</manifest>