<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.duckduckgo.app.browser">

    <application>
        <activity
            android:name="com.duckduckgo.app.dev.settings.DevSettingsActivity"
            android:label="@string/devSettingsTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.dev.settings.notifications.NotificationsActivity"
            android:label="@string/devSettingsScreenNotificationsTitle"
            android:parentActivityName="com.duckduckgo.app.dev.settings.DevSettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.audit.AuditSettingsActivity"
            android:label="@string/auditSettingsTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.app.dev.settings.customtabs.CustomTabsInternalSettingsActivity"
            android:label="@string/customTabsTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
    </application>

</manifest>
