<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duckduckgo.app.browser">

    <application>
        <activity
            android:name="com.duckduckgo.app.dev.settings.DevSettingsActivity"
            android:label="@string/devSettingsTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
    </application>

</manifest>
