<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".settings.PirDevSettingsActivity"
            android:label="@string/pirDevSettings" />

        <activity
            android:name=".settings.PirResultsActivity"
            android:label="@string/pirDevSimpleScanHeader" />

        <activity
            android:name=".settings.PirDevScanActivity"
            android:label="@string/pirDevScanTitle" />

        <activity
            android:name=".settings.PirDevOptOutActivity"
            android:label="@string/pirDevOptOutTitle" />

        <activity
            android:name=".settings.PirDevWebViewActivity"
            android:label="@string/pirDevDebugOptOutTitle" />

        <service
            android:name=".scan.PirForegroundScanService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":pir" />

        <service
            android:name=".optout.PirForegroundOptOutService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":pir" />

        <service
            android:name=".scan.PirRemoteWorkerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pir" />
    </application>
</manifest>
