<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".settings.PirDevSettingsActivity"
            android:label="@string/pirDevSettings" />
        <activity
            android:name=".settings.PirResultsActivity"
            android:label="@string/pirDevSimpleScanHeader" />

        <service
            android:name=".service.PirForegroundScanService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":pir" />

        <service
            android:name=".service.PirRemoteWorkerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pir" />
    </application>
</manifest>