<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2022 DuckDuckGo
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest package="com.duckduckgo.sync.impl"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".ui.SyncInternalSettingsActivity"
            android:exported="false"
            android:label="@string/sync_internal_activity_label"
            android:screenOrientation="portrait"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity"/>

        <activity
            android:name=".ui.SyncActivity"
            android:exported="false"
            android:label="@string/sync_screen_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity"/>

        <activity android:name=".promotion.SyncGetOnOtherPlatformsActivity"
            android:parentActivityName=".ui.SyncActivity"
            android:label="@string/syncGetAppsOnOtherPlatformsActivityTitle"
            android:exported="false"
            />

        <activity
            android:name=".ui.setup.SetupAccountActivity"
            android:exported="false"
            android:label="@string/sync_screen_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.SyncActivity"/>

        <activity
            android:name=".ui.SyncLoginActivity"
            android:exported="false"
            android:label="@string/login_screen_title"
            android:theme="@style/Theme.DuckDuckGo.Dark"
            android:parentActivityName=".ui.setup.SetupAccountActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.SyncWithAnotherDeviceActivity"
            android:exported="false"
            android:label="@string/login_screen_title"
            android:theme="@style/Theme.DuckDuckGo.Dark"
            android:parentActivityName=".ui.SyncActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.SyncConnectActivity"
            android:exported="false"
            android:label="@string/connect_screen_title"
            android:theme="@style/Theme.DuckDuckGo.Dark"
            android:parentActivityName=".ui.setup.SetupAccountActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.EnterCodeActivity"
            android:exported="false"
            android:label="@string/enter_code_screen_title"
            android:theme="@style/Theme.DuckDuckGo.Dark"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.setup.SetupAccountActivity"/>

        <activity
            android:name=".ui.DeviceUnsupportedActivity"
            android:exported="false"
            android:label="@string/sync_screen_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity"/>

        <activity android:name=".ui.setup.SyncSetupDeepLinkConnectedActivity"
            android:exported="false"
            android:parentActivityName=".ui.SyncActivity" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>
</manifest>