name: Create a task

on:
  issues:
    types: [opened, reopened]

jobs:
  create-asana-task:
    runs-on: ubuntu-latest
    steps:
      - uses: malmstein/github-asana-action@0.3.0
        with:
          asana-pat: ${{ secrets.GH_ASANA_SECRET }}
          asana-project: ${{ secrets.GH_ASANA_ISSUES_PROJECT_ID }}
          action: 'issue-opened'
