name: Asana Integration after Pull Request submitted

on:
  pull_request:
    types: [opened, reopened]

jobs:
  process-internal-pr:
    name: Process internal Pull Request, adding PR link to Asana task if present
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add comment in Asana task
        uses: duckduckgo/native-github-asana-sync@v1.1
        with:
          asana-pat: ${{ secrets.GH_ASANA_SECRET }}
          trigger-phrase: "Task/Issue URL:"
          action: 'add-asana-comment'
          is-pinned: true
