name: Pull Request Reviewed -> Asana Sync

on:
  pull_request_review:
    types: [submitted]

jobs:
  pr-reviewed:
      name: Update Asana task -> PR reviewed
      uses: duckduckgo/native-github-asana-sync/.github/workflows/pr-review-notifications.yml@david/improve-pr-notifications
      with:
        trigger-phrase: "Task/Issue URL:"
      secrets:
        asana_pat: ${{ secrets.GH_ASANA_SECRET }}