name: 'Pull Request opened -> Comment on task and add it to Android Release Board'

on:
  pull_request:
    types: [opened, reopened, edited, ready_for_review]

jobs:
  process-internal-pr:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add comment with PR link in Asana task
        if: ${{ github.actor == github.event.pull_request.user.login && ( github.event.action == 'opened' || github.event.action == 'reopened') }}
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          trigger-phrase: "Task/Issue URL:"
          action: 'add-asana-comment'
          is-pinned: true

      - name: Find Asana Task ID
        if: ${{ github.event.pull_request.base.ref == 'develop' }}
        id: find-asana-task
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          trigger-phrase: "Task/Issue URL:"
          action: 'find-asana-task-id'

      - name: Add task to Asana project section
        if: ${{ steps.find-asana-task.outcome == 'success' && steps.find-asana-task.outputs.asanaTaskId != '' }}
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_RELEASE_BOARD_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_RELEASE_BOARD_PR_SECTION_ID }}
          asana-task-id: ${{ steps.find-asana-task.outputs.asanaTaskId }}
          action: 'add-task-asana-project'
