name: 'Pull Request changed -> Sync Asana PR task'
on:
  pull_request_review:
  pull_request:
    types:
      - opened
      - edited
      - closed
      - reopened
      - synchronize
      - assigned
      - ready_for_review
      - labeled

concurrency:
  group: ${{ github.ref }}

jobs:
  pr-sync:
    runs-on: ubuntu-latest
    steps:
      - uses: malmstein/asana-github-sync@v1.0.0
        if: github.event.pull_request.merged
        with:
          GITHUB_TOKEN: ${{ secrets.GT_DAXMOBILE }}
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
          ASANA_WORKSPACE_ID: ${{ secrets.GH_ASANA_WORKSPACE_ID }}
          ASANA_PROJECT_ID: ${{ vars.GH_ASANA_CODE_REVIEWS_PROJECT_ID }}
          ASANA_IN_PROGRESS_SECTION_ID: ${{ vars.GH_ASANA_CODE_REVIEWS_IN_PROGRESS_SECTION_ID }}
          USER_MAP: ${{ vars.GH_ANDROID_USER_MAP }}
