name: Asana Integration after Issue opened

on:
  issues:
    types: [opened, reopened]

jobs:
  create-asana-task:
    runs-on: ubuntu-latest
    steps:
      - name: Create Asana task
        uses: duckduckgo/native-github-asana-sync@${{ vars.GHA_ASANA_SYNC_VERSION }}
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: '414730916066338'
          action: 'create-asana-issue-task'
  add-comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Render template
        id: render_template
        uses: chuhlomin/render-template@v1.7
        with:
          template: .github/issue-reply-template.md

      - name: Add comment
        uses: peter-evans/create-or-update-comment@v3.0.2
        with:
          issue-number: ${{ github.event.issue.number }}
          body-path: '.github/issue-reply-template.md'