name: Build debug apk

on:
  pull_request:
    branches:
      - develop
    paths-ignore:
      - '**.md'
      - '.github/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_debug_apk:
    name: Build debug apk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.18.3'

      - name: Build
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: assembleInternalDebug -Pforce-default-variant

      - name: Obtain debug apk
        if: always()
        run: cp $(find . -regex '.*outputs/apk/.*internal-debug.apk') pr-ddg-debug.apk

      - name: Upload debug apk
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pr-ddg-debug
          path: pr-ddg-debug.apk
