name: Build debug apk

on:
  pull_request:
    branches:
      - develop
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_debug_apk:
    name: Build debug apk
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleInternalDebug

      - name: Obtain debug apk
        if: always()
        run: cp $(find . -regex '.*outputs/apk/.*internal-debug.apk') pr-ddg-debug.apk

      - name: Upload debug apk
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: pr-ddg-debug
          path: pr-ddg-debug.apk