name: Spotless and Tests

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  unit_tests:
    name: JVM CI checks
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous
        uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Spotless
        run: ./gradlew spotlessCheck --stacktrace

      - name: JVM checks
        run: ./gradlew jvm_checks

      - name: Bundle the JVM checks report
        if: always()
        run: find . -type d -name 'reports' | zip -@ -r jvm-checks-report.zip

      - name: Upload the JVM checks report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: jvm-checks-report
          path: jvm-checks-report.zip

  android_tests:
    runs-on: ubuntu-latest
    name: Android CI checks

    steps:
      - name: Cancel previous
        uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - name: Decode secret
        env:
          FLANK: ${{ secrets.FLANK }}
        run: echo $FLANK > flank.json

      - name: Build
        run: ./gradlew androidTestsBuild

      - name: Run Android Tests
        run: ./gradlew runFlankAndroidTests

      - name: Bundle the Android CI checks report
        if: always()
        run: find . -type d -name 'fladleResults' | zip -@ -r android-checks-report.zip

      - name: Upload the Android CI checks report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: android-checks-report
          path: android-checks-report.zip