name: 'End to End Tests - Duck Player (Nightly)'

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'node_modules/@duckduckgo/content-scope-scripts/**'

  schedule:
    - cron: '0 4 * * *' # run at 4 AM UTC

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  duckplayer_tests:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || github.event_name == 'pull_request' }}
    name: Duck Player Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Assemble APKs
        id: assemble
        uses: ./.github/actions/checkout-and-assemble
        with:
          flavours: 'internal'
          release_properties: ${{ secrets.FAKE_RELEASE_PROPERTIES }}
          release_key: ${{ secrets.FAKE_RELEASE_KEY }}
          gradle_encryption_key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          develocity_access_key: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

      - name: Run Duck Player Maestro Tests
        id: maestro-cloud-asana
        uses: ./.github/actions/maestro-cloud-asana-reporter
        timeout-minutes: 120
        with:
          maestro_api_key: ${{ secrets.ROBIN_API_KEY }}
          maestro_project_id: ${{ vars.ROBIN_ANDROID_PROJECT_ID }}
          maestro_test_name: duckPlayerTest_${{ github.sha }}
          maestro_timeout: ${{ vars.ROBIN_TIMEOUT_MINUTES }}
          maestro_app_file: ${{ steps.assemble.outputs.internal_apk_path }}
          maestro_include_tags: duckplayer
          asana_pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana_project_id: ${{ vars.GH_ANDROID_APP_PROJECT_ID }}
          asana_section_id: ${{ vars.GH_ANDROID_APP_INCOMING_SECTION_ID }}
          test_suite_name: Duck Player

      - name: Create Asana task when workflow failed
        if: ${{ failure() && github.event_name != 'workflow_dispatch' && steps.maestro-cloud-asana.outputs.flow_summary_status != 'failure'}}
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_INCOMING_SECTION_ID }}
          asana-task-name: GH Workflow Failure - Duck Player End to End Tests
          asana-task-description: The Duck Player workflow has failed. See https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
          action: 'create-asana-task'
