name: 'End to End Tests - Custom Tabs (Nightly)'

on:
  schedule:
    - cron: '0 5 * * *' # run at 5 AM UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  instrumentation_tests:
    runs-on: ubuntu-latest
    name: Custom Tabs nightly tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK version
        uses: actions/setup-java@v4
        with:
          java-version-file: .github/.java-version
          distribution: 'adopt'

      - name: Create folder
        if: always()
        run: mkdir apk

      - name: Decode keys
        uses: davidSchuppa/base64Secret-toFile-action@v2
        with:
          secret: ${{ secrets.FAKE_RELEASE_PROPERTIES }}
          fileName: ddg_android_build.properties
          destination-path: $HOME/jenkins_static/com.duckduckgo.mobile.android/

      - name: Decode key file
        uses: davidSchuppa/base64Secret-toFile-action@v2
        with:
          secret: ${{ secrets.FAKE_RELEASE_KEY }}
          fileName: android
          destination-path: $HOME/jenkins_static/com.duckduckgo.mobile.android/

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Assemble internal release APK
        run: ./gradlew assembleInternalRelease -Pforce-default-variant -x lint

      - name: Move APK to new folder
        if: always()
        run: find . -name "*.apk"  -exec mv '{}' apk/release.apk \;

      - name: Custom Tabs Flows
        id: maestro-run
        uses: mobile-dev-inc/action-maestro-cloud@v1.9.8
        timeout-minutes: 120
        with:
          api-key: ${{ secrets.ROBIN_API_KEY }}
          project-id: ${{ vars.ROBIN_ANDROID_PROJECT_ID }}
          name: customTabs_${{ github.sha }}
          timeout: ${{ vars.ROBIN_TIMEOUT_MINUTES }}
          app-file: apk/release.apk
          android-api-level: 30
          workspace: .maestro
          include-tags: customTabsTest

      - name: Analyze Maestro Flow Results
        if: always()
        id: analyze-maestro
        uses: ./.github/actions/maestro-flow-analyzer
        with:
          flow_results_json: ${{ steps.maestro-run.outputs.MAESTRO_CLOUD_FLOW_RESULTS }}
          console_url: ${{ steps.maestro-run.outputs.MAESTRO_CLOUD_CONSOLE_URL }}
          upload_status: ${{ steps.maestro-run.outputs.MAESTRO_CLOUD_UPLOAD_STATUS }}
          app_binary_id: ${{ steps.maestro-run.outputs.MAESTRO_CLOUD_APP_BINARY_ID }}

      - name: Create Asana task when Maestro tests failed
        if: always() && steps.analyze-maestro.outputs.flow_summary_status == 'failure'
        id: create-maestro-failure-task
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_INCOMING_SECTION_ID }}
          asana-task-name: E2E Tests Failure - Custom Tabs
          asana-task-description: |
            Run: https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
            Console: ${{ steps.maestro-run.outputs.MAESTRO_CLOUD_CONSOLE_URL }}
            Summary:
            ${{ steps.analyze-maestro.outputs.flow_summary_message }}
          action: 'create-asana-task'

      - name: Adding as a release blocker
        if: ${{ steps.create-maestro-failure-task.outputs.taskId != '' }}
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_RELEASES_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_RELEASES_PROJECT_BLOCKER_SECTION_ID }}
          asana-task-id: ${{ steps.create-maestro-failure-task.outputs.taskId }}
          action: 'add-task-asana-project'

      - name: Create Asana task when workflow failed
        if: ${{ failure() && steps.analyze-maestro.outputs.flow_summary_status != 'failure' }}
        id: create-failure-task
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_INCOMING_SECTION_ID }}
          asana-task-name: GH Workflow Failure - Custom Tabs End to End Tests (Nightly)
          asana-task-description: Workflow execution has failed. See https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
          action: 'create-asana-task'

      - name: Adding as a release blocker
        if: ${{ failure() && steps.create-failure-task.outputs.taskId != '' }}
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_RELEASES_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_RELEASES_PROJECT_BLOCKER_SECTION_ID }}
          asana-task-id: ${{ steps.create-failure-task.outputs.taskId }}
          action: 'add-task-asana-project'