name: External Reference Tests

on:
  workflow_dispatch:
    inputs:
      branchName:
        description: 'Branch to pull reference tests from the reference tests repo'
        type: string
        required: true
        default: 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_tests:
    name: External reference tests unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install copy-files-from-to
        run: npm install -g copy-files-from-to

      - name: Install package
        run: npm install "https://github.com/duckduckgo/privacy-reference-tests#${{ inputs.branchName }}" --save

      - name: Copy files
        run: copy-files-from-to

      - name: Set up JDK version
        uses: actions/setup-java@v4
        with:
          java-version-file: .github/.java-version
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: JVM tests
        run: ./gradlew jvm_tests

      - name: Bundle the JVM checks report
        if: always()
        run: find . -type d -name 'reports' | zip -@ -r unit-tests-report.zip

      - name: Upload the JVM checks report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-tests-report
          path: unit-tests-report.zip

  android_tests:
    runs-on: ubuntu-latest
    name: External reference tests android tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup jq
        uses: dcarbone/install-jq-action@v1.0.1
        with:
          force: true

      - name: Install copy-files-from-to
        run: npm install -g copy-files-from-to

      - name: Install package
        run: npm install "https://github.com/duckduckgo/privacy-reference-tests#${{ inputs.branchName }}" --save

      - name: Copy files
        run: copy-files-from-to

      - name: Set up JDK version
        uses: actions/setup-java@v4
        with:
          java-version-file: .github/.java-version
          distribution: 'adopt'

      - name: Decode secret
        env:
          FLANK: ${{ secrets.FLANK }}
        run: echo $FLANK > flank.json

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: ./gradlew androidTestsBuild

      - name: Run Android Tests
        run: ./gradlew runFlankAndroidTests --no-configuration-cache

      - name: Bundle the Android CI tests report
        if: always()
        run: find . -type d -name 'fladleResults' | zip -@ -r android-tests-report.zip

      - name: Generate json file with failures
        if: ${{ failure() }}
        run: cat build/fladle/fladleResults/HtmlErrorReport.html | cut -d\`  -f2 >> results.json

      - name: Print failure report
        if: ${{ failure() }}
        run: |
          jq -r '.[] | .label as $id | .items[] | "Test:", $id, "Failure:", .label, "URL:", .url, "\n"' results.json  

      - name: Upload the Android CI tests report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-tests-report
          path: android-tests-report.zip

