name: External Content Scope Scripts Tests

on:
  workflow_dispatch:
    inputs:
      branchName:
        description: 'Branch to pull from content scope scripts repo'
        type: string
        required: true
        default: 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_tests:
    name: External content scope script tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup jq
        uses: dcarbone/install-jq-action@v1.0.1
        with:
          force: true

      - name: Install from branch
        run: npm install "https://github.com/duckduckgo/content-scope-scripts#${{ inputs.branchName }}" --save

      - name: Npm install
        working-directory: node_modules/@duckduckgo/content-scope-scripts
        run: npm install

      - name: Npm build
        working-directory: node_modules/@duckduckgo/content-scope-scripts
        run: npm run build

      - name: Set up JDK version
        uses: actions/setup-java@v4
        with:
          java-version-file: .github/.java-version
          distribution: 'adopt'

      - name: Decode secret
        env:
          FLANK: ${{ secrets.FLANK }}
        run: echo $FLANK > flank.json

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: ./gradlew androidTestsBuild --no-configuration-cache

      - name: Run Android Tests
        run: ./gradlew runFlankPrivacyTests

      - name: Bundle the Android CI tests report
        if: always()
        run: find . -type d -name 'fladleResults' | zip -@ -r android-tests-report.zip

      - name: Generate json file with failures
        if: ${{ failure() }}
        run: cat build/fladle/fladleResults/HtmlErrorReport.html | cut -d\`  -f2 >> results.json

      - name: Print failure report
        if: ${{ failure() }}
        run: |
          jq -r '.[] | .label as $id | .items[] | "Test:", $id, "Failure:", .label, "URL:", .url, "\n"' results.json

      - name: Upload the Android CI tests report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-tests-report
          path: android-tests-report.zip

