name: Nightly

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  unit_tests:
    name: Spotless and unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous
        uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@master

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Spotless
        run: ./gradlew spotlessCheck --stacktrace

      - name: Unit Tests
        run: ./gradlew app:testPlayDebugUnitTest privacy-config-impl:testDebugUnitTest privacy-config-store:testDebugUnitTest --stacktrace

      - name: Bundle the Unit Test report
        if: always()
        run: find . -type d -name 'reports' | zip -@ -r unit-test-report.zip

      - name: Upload the Unit Test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: unit-test-report
          path: unit-test-report.zip

  android_tests:
    runs-on: macos-latest
    name: Android tests
    strategy:
      matrix:
        api-level: [22, 29]

    steps:
      - name: Cancel previous
        uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-emul-${{ matrix.api-level }}

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2.19.1
        with:
          api-level: ${{ matrix.api-level }}
          ndk: 21.0.6113669
          arch: x86_64
          profile: Nexus 5
          force-avd-creation: true
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Android Tests
        uses: reactiveCircus/android-emulator-runner@v2.19.1
        with:
          api-level: ${{ matrix.api-level }}
          ndk: 21.0.6113669
          arch: x86_64
          profile: Nexus 5
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew app:connectedPlayDebugAndroidTest --stacktrace

      - name: Bundle the Android Test report
        if: always()
        run: find . -type d -name 'reports' | zip -@ -r android-test-report.zip

      - name: Upload the Android Test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: android-test-report
          path: android-test-report.zip