name: Pull Request Reviewed -> Sync With Asana

on:
  pull_request_review:
    types: [submitted]

jobs:
  pr-reviewed:
    name: Add PR reviewed comment
    uses: duckduckgo/native-github-asana-sync/.github/workflows/pr-review-notifications.yml@v1.8
    with:
      trigger-phrase: "Task/Issue URL:"
    secrets:
      asana_pat: ${{ secrets.ASANA_ACCESS_TOKEN }}