name: Privacy Tests

on:
  push:
    branches:
      - feature/marcos/flank
  schedule:
    - cron: '0 3 * * *' # run at 3 AM UTC
  workflow_dispatch:

jobs:
  privacy_tests:
    name: Privacy Tests
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous
        uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - name: Decode secret
        env:
          FLANK: ${{ secrets.FLANK }}
        run: echo $FLANK > flank.json

      - name: Build
        run: ./gradlew androidTestsBuild

      - name: Firebase tests
        run: ./gradlew runFlankPrivacyTests

      - name: Bundle the Android CI checks report
        if: always()
        run: find . -type d -name 'fladleResults' | zip -@ -r android-checks-report.zip

      - name: Upload the Android CI checks report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: android-checks-report
          path: android-checks-report.zip
