name: Release - Create and Push Tag

on:
  workflow_call:
    inputs:
      app-version:
        description: 'App Version for Release'
        required: true
  workflow_dispatch:
    inputs:
      app-version:
        description: 'App Version for Release'
        required: true
        default: 'PLACEHOLDER'

env:
  ASANA_PAT: ${{ secrets.ASANA_ACCESS_TOKEN }}
  GH_TOKEN: ${{ secrets.GT_DAXMOBILE }}
  emoji_info: ":information_source:" # ℹ️

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create-tag:
    name: Create and Push git tag for version
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GT_DAXMOBILE }}
          fetch-depth: 0

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      - name: Set up git config
        run: |
          git remote set-url origin https://${{ secrets.GT_DAXMOBILE }}@github.com/duckduckgo/Android.git/
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Use fastlane lane to create and push tagged release
        id: create_git_tag
        run: |        
          bundle exec fastlane android tag_and_push_release_version app_version:${{ github.event.inputs.app-version }}

      - name: Notify Mattermost
        id: send-mm-message
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          mattermost-token: ${{ secrets.MM_AUTH_TOKEN }}
          mattermost-team-id: ${{ secrets.MM_TEAM_ID }}
          mattermost-channel-name: ${{ vars.MM_RELEASE_NOTIFY_CHANNEL }}
          mattermost-message: ${{env.emoji_info}} Release ${{ github.event.inputs.app-version }}. Tag created https://github.com/duckduckgo/Android/releases/tag/${{ github.event.inputs.app-version }}
          action: 'send-mattermost-message'

      - name: Create Asana task when workflow failed
        if: ${{ failure() }}
        id: create-failure-task
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_INCOMING_SECTION_ID }}
          asana-task-name: GH Workflow Failure - Tag Android Release
          asana-task-description: Tag Android Release has failed. See https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
          action: 'create-asana-task'

      - name: Notify Mattermost when workflow failed
        if: ${{ failure() }}
        id: send-mm-message-error
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          mattermost-token: ${{ secrets.MM_AUTH_TOKEN }}
          mattermost-team-id: ${{ secrets.MM_TEAM_ID }}
          mattermost-channel-name: ${{ vars.MM_RELEASE_NOTIFY_CHANNEL }}
          mattermost-message: ${{env.emoji_start}} Tag Android Release has failed. See https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
          action: 'send-mattermost-message'