name: Release - Android App Production Release

on:
  workflow_dispatch:
    inputs:
      app-version:
        description: 'App Version for Release'
        required: true
        default: 'PLACEHOLDER'

env:
  ASANA_PAT: ${{ secrets.GH_ASANA_SECRET }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create_release_task:
    uses: ./.github/workflows/release_create_task.yml
    with:
      app-version: ${{ github.event.inputs.app-version }}

  create_release_tag:
    needs: create_release_task
    uses: ./.github/workflows/release_create_tag.yml
    with:
      app-version: ${{ github.event.inputs.app-version }}

  launch_release_tests:
    needs: create_release_tag
    uses: ./.github/workflows/release_tests.yml
    with:
      app-version: ${{ github.event.inputs.app-version }}

  report_workflow_failed:
    if: ${{ failure() }}
    uses: ./.github/workflows/release_report_error.yml