name: Release - Create Release Task in Asana

on:
  workflow_call:
    inputs:
      app-version:
        description: 'App Version for Release'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      app-version:
        description: 'App Version for Release'
        required: true
        default: 'PLACEHOLDER'
        type: string

env:
  ASANA_PAT: ${{ secrets.ASANA_ACCESS_TOKEN }}
  emoji_info: ":information_source:" # ℹ️

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create_release_task:
    name: Create Android App Release Task in Asana
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies for create-asana-public-release task
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/release/requirements.txt

      - name: Create Asana release task
        env:
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
        shell: bash
        run: |
          set -eo pipefail
          RELEASE_TASK_URL=$(python ./scripts/release/create-asana-public-release.py \
          --android-repo-path . \
          --tag "${{ inputs.app-version }}" \
          --trigger-phrase 'Task/Issue URL:' \
          --asana-project-id "${{ vars.GH_ANDROID_RELEASE_BOARD_PROJECT_ID }}" \
          --asana-section-id "${{ vars.GH_ANDROID_RELEASE_BOARD_QA_SECTION_ID }}" \
          --asana-workspace-id "${{ secrets.GH_ASANA_WORKSPACE_ID }}" \
          --asana-api-key-env-var ASANA_ACCESS_TOKEN \
          --template-task-id "${{ vars.GH_ANDROID_RELEASE_BOARD_TEMPLATE_TASK_ID }}")
          echo "RELEASE_TASK_URL=$RELEASE_TASK_URL" >> "$GITHUB_ENV"

      - name: Assign task to Github Actor
        id: assign-release-task
        uses: ./.github/actions/assign-release-task
        with:
          task_name: 'Android Release ${{ inputs.app-version }}'
          asana_token: ${{ secrets.ASANA_ACCESS_TOKEN }}
          project_gid: ${{ vars.GH_ANDROID_RELEASE_BOARD_PROJECT_ID }}
          username: ${{ github.actor }}
          github_token: ${{ secrets.DAXMOBILE_ANDROID_AUTOMATION }}

      - name: Get Asana Task Permalink
        id: get-task-permalink
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-task-id: ${{ steps.assign-release-task.outputs.task_id }}
          action: 'get-asana-task-permalink'

      - name: Notify Mattermost of Task created
        id: send-mm-task-created
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          mattermost-token: ${{ secrets.MM_AUTH_TOKEN }}
          mattermost-team-id: ${{ secrets.MM_TEAM_ID }}
          mattermost-channel-name: ${{ vars.MM_RELEASE_NOTIFY_CHANNEL }}
          mattermost-message: ${{env.emoji_info}} Release task created successfully ${{ steps.get-task-permalink.outputs.asanaTaskPermalink }}
          action: 'send-mattermost-message'

      - name: Create Asana task when workflow failed
        if: ${{ failure() }}
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          asana-pat: ${{ secrets.ASANA_ACCESS_TOKEN }}
          asana-project: ${{ vars.GH_ANDROID_APP_PROJECT_ID }}
          asana-section: ${{ vars.GH_ANDROID_APP_INCOMING_SECTION_ID }}
          asana-task-name: GH Workflow Failure - Create Android App Release Task
          asana-task-description: The Create Android App Release Task workflow has failed. See https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
          action: 'create-asana-task'

      - name: Notify Mattermost when workflow failed
        if: ${{ failure() }}
        id: send-mm-message-error
        uses: duckduckgo/native-github-asana-sync@v2.0
        with:
          mattermost-token: ${{ secrets.MM_AUTH_TOKEN }}
          mattermost-team-id: ${{ secrets.MM_TEAM_ID }}
          mattermost-channel-name: ${{ vars.MM_RELEASE_NOTIFY_CHANNEL }}
          asana-task-description: The Create Android App Release Task workflow has failed. See https://github.com/duckduckgo/Android/actions/runs/${{ github.run_id }}
          action: 'send-mattermost-message'