name: Test - Workflow for Testing

on:
  workflow_dispatch:

    inputs:
      ref:
        description: 'This is an example of an input'
        required: true

env:
  ASANA_PAT: ${{ secrets.ASANA_ACCESS_TOKEN }}
  GH_TOKEN: ${{ secrets.GT_DAXMOBILE }}

jobs:
  test-workflow:
    runs-on: ubuntu-latest
    name: Add here whatever steps you want to test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GT_DAXMOBILE }}
          ref: ${{ github.event.inputs.ref }}

      - name: Security Maestro run
        uses: mobile-dev-inc/action-maestro-cloud@v1.9.8
        timeout-minutes: 120
        with:
          api-key: ${{ secrets.ROBIN_API_KEY }}
          project-id: ${{ vars.ROBIN_ANDROID_PROJECT_ID }}
          name: securityTest_${{ github.sha }}
          timeout: ${{ vars.ROBIN_TIMEOUT_MINUTES }}
          app-file: apk/internal.apk
          android-api-level: 30
          workspace: .maestro
          include-tags: securityTest
