name: Test - Workflow for Testing

on:
  workflow_dispatch:

    inputs:
      ref:
        description: 'This is an example of an input'
        required: true

env:
  ASANA_PAT: ${{ secrets.ASANA_ACCESS_TOKEN }}
  GH_TOKEN: ${{ secrets.GT_DAXMOBILE }}

jobs:
  test-workflow:
    runs-on: ubuntu-latest
    name: Add here whatever steps you want to test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GT_DAXMOBILE }}
          ref: ${{ github.event.inputs.ref }}

      - id: test-username-action
        uses: duckduckgo/native-github-asana-sync@v1.3
        with:
          action: 'get-asana-user-id'
          github-username: ${{ github.actor }}
          github-pat:  ${{ secrets.GT_DAXMOBILE }}

      - name: Print result
        run: echo "Asana ID ${{ steps.test-username-action.outputs.asanaUserId }}"